.card__add-button {
  background-image: url(../../../images/plus-icon.svg);
  /* background-repeat: no-repeat;
  background-position: center;
  object-fit: cover; */
  /* background-size: 50%; */
  height: 24px;
  width: 24px;
  background-color: unset;
  border: 0;
}
