.action-bar__menu-bar {
  width: 100%;
  height: 75px;
  background-image: url(../../../images/menu-bar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
