.card__type {
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #A9AEE5;
  margin-bottom: 7px;
  margin-top: 12px;
  margin-left: 20px;
  flex-basis: 100%;
}
