.product__list-item {
  list-style: none;
  margin-right: 10%;
  position: relative;
}

.product__list-item:first-of-type {
  margin-left: auto;
}

.product__list-item:nth-child(2n) {
  margin-right: 39%;
}

.product__list-item:last-of-type {
  margin-right: auto;
}
