.header__btn {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 2px 4px rgba(25, 38, 73, 0.08), -2px -2px 4px #fff,
    inset 1px 1px 5px rgba(24, 38, 72, 0.13), inset -2px -2px 5px #fff;
  border-radius: 8px;
}

.header__btn:hover {
  cursor: pointer;
}
