@import url(./__description/card__description.css);
@import url(./__image/card__image.css);
@import url(./__price/card__price.css);
@import url(./__title/card__title.css);
@import url(./__type/card__type.css);
@import url(./__add-button/card__add-button.css);

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(25, 38, 73, 0.08), -2px -2px 4px #FFFFFF, inset 1px 1px 5px rgba(24, 38, 72, 0.13), inset -2px -2px 5px #FFFFFF;
  border-radius: 26px;
  max-width: 120px;
  padding: 12px 20px 20px;
}
